NEXT_PUBLIC_AIRTABLE_API_TOKEN=<your-airtable-api-token>
NEXT_PUBLIC_AIRTABLE_BASE_ID=apppcnjdT5iHZuflw
NEXT_PUBLIC_AIRTABLE_PARTICIPANTS_TABLE_ID=tblbSNTckK3aRxu6N
NEXT_PUBLIC_AIRTABLE_SPONSORSHIP_TABLE_ID=tblQAJjN3NRP77oC5